<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../public/css/stylesheet.css">
</head>
<body>

    <div>
        <h3>Регистрация</h3>
        <form method="post">
            <input name="username" type="text"/>
            <input name="password" type="password"/>
            <a>Если вы зарегистрированы, перейдите по ссылке</a>
            <button type="submit">зарегистрироваться</button>
        </form>
    </div>
</body>
</html>