<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../public/css/stylesheet.css">
</head>
<body>

    <div>
        <h3>Регистрация</h3>
        <form method="post">
            <input name="username" type="text"/>
            <input name="password" type="password"/>
            <p>Если вы зарегистрированы, перейдите по <a href={{ app.url_generator.generate('auth') }}>
                     ссылке</a></p>
            <button type="submit" name="submit">зарегистрироваться</button>
            {% if errors is defined %}
                {% for error in errors %}
                {{ error }}
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>
</html>